@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: #06283D;
    color: #DFF6FF;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
}

p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
}

.btn {
    background-color: #256D85;
    border: 0;
    border-radius: 5px;
    color: #DFF6FF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #47B5FF;
    color: black;
}